In [23]:
from sklearn.preprocessing import StandardScaler
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns 
df1=pd.read_csv('Report_user (3).csv',encoding='ISO-8859-1')

In [69]:
import plotly.express as px
ds = df1.groupby(['Service Line', 'Service Area', 'Function','Member Firm'])['ï»¿"User ID (v14) (evar14)"'].count().reset_index()

ds

,Service Line,Service Area,Function,Member Firm,"ï»¿""User ID (v14) (evar14)"""
0,"""Advertising, Marketing and Commerce""",Customer and Marketing,Consulting,United States,12
1,Accounting (GFS),Global Finance Services,Internal Services,Asia Pacific,1
2,Accounting Operations Assurance,Assurance Services,Audit and Assurance,S-LATAM,41
3,Accounting and Financial Reporting Risk,Financial Risk,Risk Advisory,United States,26
4,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Asia Pacific,347
...,...,...,...,...,...
1045,Workforce Transformation,Human Capital,Consulting,North and South Europe,3209
1046,Workforce Transformation,Human Capital,Consulting,S-LATAM,53
1047,Workforce Transformation,Human Capital,Consulting,Spain,3
1048,Workforce Transformation,Human Capital,Consulting,United States,7022
1049,Worldwide Technology,Information Technology,Internal Services,Asia Pacific,120

In [74]:
ds3 = df1.groupby(['Service Line', 'Service Area', 'Function','Member Firm'])['Search Result Clicked Detail (v60) (evar60)'].count().reset_index()

ds3

,Service Line,Service Area,Function,Member Firm,Search Result Clicked Detail (v60) (evar60)
0,"""Advertising, Marketing and Commerce""",Customer and Marketing,Consulting,United States,5
1,Accounting (GFS),Global Finance Services,Internal Services,Asia Pacific,0
2,Accounting Operations Assurance,Assurance Services,Audit and Assurance,S-LATAM,1
3,Accounting and Financial Reporting Risk,Financial Risk,Risk Advisory,United States,12
4,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Asia Pacific,3
...,...,...,...,...,...
1045,Workforce Transformation,Human Capital,Consulting,North and South Europe,374
1046,Workforce Transformation,Human Capital,Consulting,S-LATAM,2
1047,Workforce Transformation,Human Capital,Consulting,Spain,0
1048,Workforce Transformation,Human Capital,Consulting,United States,2827
1049,Worldwide Technology,Information Technology,Internal Services,Asia Pacific,0

In [75]:
import plotly.express as px


ds2 = df1.groupby(['Service Line', 'Service Area', 'Function','Member Firm'])['Header Item Clicked (v56) (evar56)'].count().reset_index()

ds2

,Service Line,Service Area,Function,Member Firm,Header Item Clicked (v56) (evar56)
0,"""Advertising, Marketing and Commerce""",Customer and Marketing,Consulting,United States,2
1,Accounting (GFS),Global Finance Services,Internal Services,Asia Pacific,0
2,Accounting Operations Assurance,Assurance Services,Audit and Assurance,S-LATAM,5
3,Accounting and Financial Reporting Risk,Financial Risk,Risk Advisory,United States,3
4,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Asia Pacific,14
...,...,...,...,...,...
1045,Workforce Transformation,Human Capital,Consulting,North and South Europe,431
1046,Workforce Transformation,Human Capital,Consulting,S-LATAM,11
1047,Workforce Transformation,Human Capital,Consulting,Spain,0
1048,Workforce Transformation,Human Capital,Consulting,United States,732
1049,Worldwide Technology,Information Technology,Internal Services,Asia Pacific,6

In [66]:
ds2.describe().transpose().reset_index()

Tenure (yrs)                         index  \
Service Line
Service Area
Function
Country
Header Area Clicked (v55) (evar55)
0                                    count
1                                   unique
2                                      top
3                                     freq

Tenure (yrs)                                                                   1 to 5  \
Service Line                                          Accounting Operations Assurance
Service Area                                                       Assurance Services
Function                                                          Audit and Assurance
Country                                                                     Argentina
Header Area Clicked (v55) (evar55)                                       Sidebar Menu
0                                                                                   1
1                                                                                   1
2                                   Quality > Deloitte Global Risk Tools Program >...
3                                                                                   1

Tenure (yrs)                                                                          \
Service Line                                 Accounting and Financial Reporting Risk
Service Area                                                          Financial Risk
Function                                                               Risk Advisory
Country                                                                United States
Header Area Clicked (v55) (evar55)                                      Sidebar Menu
0                                                                                  2
1                                                                                  2
2                                   Top Links > Top Links > Deloitte Learning Center
3                                                                                  1

Tenure (yrs)                                     \
Service Line
Service Area
Function
Country
Header Area Clicked (v55) (evar55) Top Nav Menu
0                                             1
1                                             1
2                                   DeloitteNet
3                                             1

Tenure (yrs)                                                            \
Service Line                       Advertising, Marketing and Commerce
Service Area                                    Customer and Marketing
Function                                                    Consulting
Country                                                  United States
Header Area Clicked (v55) (evar55)                        App Launcher
0                                                                  289
1                                                                   13
2                                                     Talent On Demand
3                                                                  118

Tenure (yrs)                                                          \
Service Line
Service Area
Function
Country
Header Area Clicked (v55) (evar55)     Information Language Selector
0                                               94                 5
1                                                4                 2
2                                   My Information           English
3                                               50                 4

Tenure (yrs)                                                              \
Service Line
Service Area
Function
Country
Header Area Clicked (v55) (evar55)                          Sidebar Menu
0                                                                     78
1                                                                     38
2                                   Talent > Talent Home > ToD Dashboard
3                                                                     20

Tenure (yrs)                                                  ...  \
Service Line                                                  ...
Service Area                                                  ...
Function                                                      ...
Country                                            Australia  ...
Header Area Clicked (v55) (evar55) Top Nav Menu App Launcher  ...
0                                           193            1  ...
1                                             4            1  ...
2                                   DeloitteNet     AP Board  ...
3                                            71            1  ...

Tenure (yrs)                                    Less than 1  \
Service Line                       Workforce Transformation
Service Area                                  Human Capital
Function                                         Consulting
Country                                               Italy
Header Area Clicked (v55) (evar55)             Top Nav Menu
0                                                         6
1                                                         3
2                                                     Tools
3                                                         3

Tenure (yrs)                                                                           \
Service Line
Service Area
Function
Country                                                                         Japan
Header Area Clicked (v55) (evar55)                                       Sidebar Menu
0                                                                                   2
1                                                                                   1
2                                   Talent & Learning > For Deloitte Professionals...
3                                                                                   2

Tenure (yrs)                                     \
Service Line
Service Area
Function
Country
Header Area Clicked (v55) (evar55) Top Nav Menu
0                                             1
1                                             1
2                                   DeloitteNet
3                                             1

Tenure (yrs)                                                                           \
Service Line
Service Area
Function
Country                                                                        Norway
Header Area Clicked (v55) (evar55)                                       Sidebar Menu
0                                                                                   2
1                                                                                   2
2                                   Medarbeider og interne kurs > LÃ¸nn og utlegg ...
3                                                                                   1

Tenure (yrs)                                       \
Service Line
Service Area
Function
Country                            United Kingdom
Header Area Clicked (v55) (evar55)   Top Nav Menu
0                                               1
1                                               1
2                                     DeloitteNet
3                                               1

Tenure (yrs)                                                                   \
Service Line
Service Area
Function
Country                                                      Data Field Blank
Header Area Clicked (v55) (evar55)                               Sidebar Menu
0                                                                           4
1                                                                           4
2                                   People > Consulting > Consulting learning
3                                                                           1

Tenure (yrs)                                     \
Service Line
Service Area
Function
Country
Header Area Clicked (v55) (evar55) Top Nav Menu
0                                             2
1                                             2
2                                         Tools
3                                             1

Tenure (yrs)                                                                          \
Service Line                                Government Grants Credits and Incentives
Service Area                       Global Investment and Innovation Incentives (GI3)
Function                                                               Tax and Legal
Country                                                                       Greece
Header Area Clicked (v55) (evar55)                                      App Launcher
0                                                                                  1
1                                                                                  1
2                                                        DeloittePeopleNetwork (DPN)
3                                                                                  1

Tenure (yrs)
Service Line
Service Area
Function
Country
Header Area Clicked (v55) (evar55) Language Selector            Sidebar Menu
0                                                  1                       1
1                                                  1                       1
2                                            English  Services > Tax & Legal
3                                                  1                       1

[4 rows x 16219 columns]

In [26]:
pd.merge(df1, df2, on='company')

Index(['ï»¿"User ID (v14) (evar14)"', 'Tenure (yrs)', 'Subregion',
       'Service Line', 'Service Area', 'Office', 'Member Firm', 'Level Local',
       'Level', 'Function Local', 'Function', 'Country',
       'Header Area Clicked (v55) (evar55)',
       'Header Item Clicked (v56) (evar56)',
       'Search Result Clicked Detail (v60) (evar60)',
       'Search Result Clicked Subtype (v59) (evar59)',
       'Search Result Clicked Title (v23) (evar23)',
       'Search Result Clicked Type (v58) (evar58)',
       'Search Type (v25) (evar25)', 'Search Terms (v26) (evar26)',
       'Capability', 'Breadcrumb (v9) (evar9)'],
      dtype='object')

In [28]:
ds['new_col'] = range(1, len(ds) + 1)

In [30]:
ds2['new_col'] = range(1, len(ds2) + 1)

In [32]:
dss=pd.merge(ds, ds2, on='new_col')

In [33]:
dss

,Tenure (yrs)_x,Service Line_x,Service Area_x,Function_x,Country_x,"ï»¿""User ID (v14) (evar14)""",new_col,Tenure (yrs)_y,Service Line_y,Service Area_y,Function_y,Country_y,Header Item Clicked (v56) (evar56)
0,1 to 5,Accounting Operations Assurance,Assurance Services,Audit and Assurance,Argentina,21,1,1 to 5,Accounting Operations Assurance,Assurance Services,Audit and Assurance,Argentina,1
1,1 to 5,Accounting Operations Assurance,Assurance Services,Audit and Assurance,Costa Rica,5,2,1 to 5,Accounting Operations Assurance,Assurance Services,Audit and Assurance,Costa Rica,0
2,1 to 5,Accounting and Financial Reporting Risk,Financial Risk,Risk Advisory,United States,26,3,1 to 5,Accounting and Financial Reporting Risk,Financial Risk,Risk Advisory,United States,3
3,1 to 5,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Argentina,2,4,1 to 5,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Argentina,0
4,1 to 5,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Australia,136,5,1 to 5,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Australia,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9974,Less than 1,Workforce Transformation,Human Capital,Consulting,Spain,2,9975,Less than 1,Workforce Transformation,Human Capital,Consulting,Spain,0
9975,Less than 1,Workforce Transformation,Human Capital,Consulting,United Arab Emirates,1,9976,Less than 1,Workforce Transformation,Human Capital,Consulting,United Arab Emirates,0
9976,Less than 1,Workforce Transformation,Human Capital,Consulting,United Kingdom,37,9977,Less than 1,Workforce Transformation,Human Capital,Consulting,United Kingdom,1
9977,Less than 1,Workforce Transformation,Human Capital,Consulting,United States,364,9978,Less than 1,Workforce Transformation,Human Capital,Consulting,United States,33
9978,Retired,Data Field Blank,Data Field Blank,Tax and Legal,Argentina,2,9979,Retired,Data Field Blank,Data Field Blank,Tax and Legal,Argentina,0

In [44]:
countries_reviewed = df1.groupby(['Tenure (yrs)', 'Service Line', 'Service Area', 'Function', 'Country'])['ï»¿"User ID (v14) (evar14)"'].agg([len])
countries_reviewed.reset_index()

,Tenure (yrs),Service Line,Service Area,Function,Country,len
0,1 to 5,Accounting Operations Assurance,Assurance Services,Audit and Assurance,Argentina,21
1,1 to 5,Accounting Operations Assurance,Assurance Services,Audit and Assurance,Costa Rica,5
2,1 to 5,Accounting and Financial Reporting Risk,Financial Risk,Risk Advisory,United States,26
3,1 to 5,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Argentina,2
4,1 to 5,"Advertising, Marketing and Commerce",Customer and Marketing,Consulting,Australia,136
...,...,...,...,...,...,...
9974,Less than 1,Workforce Transformation,Human Capital,Consulting,Spain,2
9975,Less than 1,Workforce Transformation,Human Capital,Consulting,United Arab Emirates,1
9976,Less than 1,Workforce Transformation,Human Capital,Consulting,United Kingdom,37
9977,Less than 1,Workforce Transformation,Human Capital,Consulting,United States,364
9978,Retired,Data Field Blank,Data Field Blank,Tax and Legal,Argentina,2

In [48]:
df1.groupby('Tenure (yrs)', 'Service Line', 'Service Area', 'Function', 'Country').apply(lambda df1: df1['ï»¿"User ID (v14) (evar14)"'].iloc[0])

ValueError: No axis named Service Line for object type <class 'pandas.core.frame.DataFrame'>

In [51]:
df1.values

array([['100robot.jupiter01', nan, nan, ..., nan, nan,
        'Global > Clients & Industries > No Access'],
       ['a-adrar', nan, nan, ..., nan, nan,
        'Deloitte Global & GFS home > Welcome to the DTTL | People site > Performance'],
       ['a-aneo', nan, nan, ..., nan, nan,
        'Worldwide Technology > Products & Services eCatalog > Identity Access Management (IAM) > Deloitte Professional and Client User - Multi-Factor Authentication Resource Site'],
       ...,
       ['zzwane', 'Less than 1', 'Data Field Blank', ..., nan,
        'Data Field Blank', 'Home'],
       ['zzwane', 'Less than 1', 'Data Field Blank', ..., nan,
        'Data Field Blank', 'South Africa > UnityRedirection'],
       ['zzwane', 'Less than 1', 'Data Field Blank', ..., '4pl',
        'Data Field Blank', nan]], dtype=object)

In [60]:
countries_reviewed['len'].values

array([ 21,   5,  26, ...,  37, 364,   2], dtype=int64)

In [59]:
ds2['activity_num'] = countries_reviewed.cumsum()

TypeError: incompatible index of inserted column with frame index