In [76]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
from itertools import cycle, islice
import matplotlib.pyplot as plt
from pandas.plotting import parallel_coordinates

%matplotlib inline

In [77]:
data = pd.read_csv('Report_user (3).csv',encoding='ISO-8859-1')

In [78]:
data.shape

(2532437, 22)

In [79]:
data.head()

,"ï»¿""User ID (v14) (evar14)""",Tenure (yrs),Subregion,Service Line,Service Area,Office,Member Firm,Level Local,Level,Function Local,...,Header Area Clicked (v55) (evar55),Header Item Clicked (v56) (evar56),Search Result Clicked Detail (v60) (evar60),Search Result Clicked Subtype (v59) (evar59),Search Result Clicked Title (v23) (evar23),Search Result Clicked Type (v58) (evar58),Search Type (v25) (evar25),Search Terms (v26) (evar26),Capability,Breadcrumb (v9) (evar9)
0,100robot.jupiter01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Global > Clients & Industries > No Access
1,a-adrar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Deloitte Global & GFS home > Welcome to the DT...
2,a-aneo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide Technology > Products & Services eCa...
3,a-aneo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide Technology > Products & Services eCa...
4,a-ashutoshkumar2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Worldwide Technology > Products & Services eCa...

In [116]:
sampled_df = data
sampled_df.shape

(2532437, 22)

In [117]:
sampled_df.describe().transpose()

,count,unique,top,freq
"ï»¿""User ID (v14) (evar14)""",2532437,237537,cguillossou,510
Tenure (yrs),2504903,7,1 to 5,1288136
Subregion,2504903,1,Data Field Blank,2504903
Service Line,2504903,117,Data Field Blank,1558699
Service Area,2504903,62,Data Field Blank,457913
Office,2504903,1,Data Field Blank,2504903
Member Firm,2504903,40,United States,1459005
Level Local,2504903,130,Senior,433205
Level,2504903,11,Senior,555494
Function Local,2504903,48,Consulting,694810
Function,2504903,10,Consulting,815938
Country,2504903,147,United States,1028084
Header Area Clicked (v55) (evar55),305448,6,App Launcher,109100
Header Item Clicked (v56) (evar56),305448,3631,DeloitteNet,27732
Search Result Clicked Detail (v60) (evar60),715829,12,Result title,696410
Search Result Clicked Subtype (v59) (evar59),715829,5,Pages,327578
Search Result Clicked Title (v23) (evar23),722682,51742,DTE: Deloitte Time & Expense,40454
Search Result Clicked Type (v58) (evar58),722682,7,Instant Find Result,696410
Search Type (v25) (evar25),988711,4,Instant Find,715833
Search Terms (v26) (evar26),988294,189915,DTE,45538
Capability,2504903,140,Data Field Blank,2399637
Breadcrumb (v9) (evar9),1072451,20043,Home,202522

In [94]:
sampled_df[sampled_df['Header Area Clicked (v55) (evar55)']== 0].shape

(0, 22)

In [95]:
len(sampled_df['Header Area Clicked (v55) (evar55)'])

2532437

In [96]:
sampled_df.columns

Index(['ï»¿"User ID (v14) (evar14)"', 'Tenure (yrs)', 'Subregion',
       'Service Line', 'Service Area', 'Office', 'Member Firm', 'Level Local',
       'Level', 'Function Local', 'Function', 'Country',
       'Header Area Clicked (v55) (evar55)',
       'Header Item Clicked (v56) (evar56)',
       'Search Result Clicked Detail (v60) (evar60)',
       'Search Result Clicked Subtype (v59) (evar59)',
       'Search Result Clicked Title (v23) (evar23)',
       'Search Result Clicked Type (v58) (evar58)',
       'Search Type (v25) (evar25)', 'Search Terms (v26) (evar26)',
       'Capability', 'Breadcrumb (v9) (evar9)'],
      dtype='object')

In [97]:
features = ['Tenure (yrs)', 'Service Line', 'Service Area', 'Office', 'Member Firm','Level','Function']

In [98]:
select_df = sampled_df[features]

In [99]:
select_df.columns

Index(['Tenure (yrs)', 'Service Line', 'Service Area', 'Office', 'Member Firm',
       'Level', 'Function'],
      dtype='object')

In [100]:
select_df

,Tenure (yrs),Service Line,Service Area,Office,Member Firm,Level,Function
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2532432,6 to 10,Internal Audit,Accounting and Internal Controls,Data Field Blank,United States,Senior,Risk Advisory
2532433,6 to 10,Internal Audit,Accounting and Internal Controls,Data Field Blank,United States,Senior,Risk Advisory
2532434,Less than 1,Data Field Blank,Human Capital,Data Field Blank,Africa,Junior Staff,Consulting
2532435,Less than 1,Data Field Blank,Human Capital,Data Field Blank,Africa,Junior Staff,Consulting
2532436,Less than 1,Data Field Blank,Human Capital,Data Field Blank,Africa,Junior Staff,Consulting

In [110]:
X = StandardScaler().fit_transform(select_df.value_counts().index)
X

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [115]:
len(select_df.values)

2532437

In [108]:
X.reshape(-1, 1)

NameError: name 'X' is not defined

In [ ]:
kmeans = KMeans(n_clusters=12)
model = kmeans.fit(X)
print("model\n", model)